* {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
}

a {
  text-decoration: none;
  margin: 0 4px;
}
.logo {
  font-family: 'Syncopate', sans-serif;
  font-size: 60px;
  color: White;
  margin-left: -400px;
  margin-bottom: 40px;
}

header {
  background-color: #00bfff;
  padding-top: 70px;
  border-bottom: #00bfff solid 5px;
}

  .left-nav {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  }
  nav {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-right: 20px;
  
  }

.search-form {
  display: flex;
  justify-content: center;
}

.left-h1 {
  text-align: left;
  margin: 20px 0 -15px 20px;
  color: black;
}

.featured {
  display: flex;
  margin: 20px 5px 20px 5px;
}

.featured-card {
  border: 4px solid	#00bfff;
  border-radius: 7px;
  margin: 10px;
  height: 300px; 
  width: 250px; 
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #00bfff;

    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}
.featured-card:hover {
  border: 6px solid black;
  transform: scale(0.9)
}

.featured-cont {
  height: 87.5%;
  width: 100%;
}

.featured-h1 {
  margin-top: 3px;
  color: white;
  font-size: x-large;
}

img {
  border: 3px solid #00bfff;
  height: 100%;
  width: 100%;
}

.artist-container {
  margin-top: 50px;
}

.events-cont {
  margin-top: 50px;
  display: grid;
  grid-template: auto / repeat(4, 1fr);
}

.listing {
  display: flex;
  width: 90%;
  height: 90%;
  border: 4px solid 	#00bfff;
  border-radius: 7px;
  margin: 10px auto;
  padding: 2px;
}

.listing-h2 {
  font-size: 25px;
  margin-top: 3px;
  color: #00bfff;
}

.listing-sec-2 {
  margin-top: -5px;
  margin-bottom: 5px;
}

section > p {
  margin: 3px auto;
}

.add-button {
  width: 50%;
  margin-top: 4px;
  margin-bottom: 2px;
}

.cart-cont {
  width: 50%;
  margin: 40px auto;
}

.delete-button {
  width: 20%;
  margin-top: -5px;
}

p {
  font-weight: bold;
}

.artist-form {
  width: 60%;
  margin: 50px auto;
  border: 3px solid #00bfff;
  border-radius: 7px;
  padding-bottom: 20px;
}

.artist-form > div {
  margin:  40px auto;
  width: 85%;
}

.create-button {
  width: 30%;
}


.artist-section {
  display: flex;
  width: 60%;
  border: 4px solid 	#00bfff;
  border-radius: 7px;
  margin: 30px auto;
  padding: 2px;
}

.artist-page {
  display: flex;
  padding: auto;
  margin-top: 40px
}

.artist-events {
  width: 40%;
  height: 50%;
  margin: 20px auto;
}
