
html {
  background: #49404c no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

* {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.App {
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
}

/* Header styles */
header {
  top: 0;
  z-index: 20;
  width: 100%;
  height: 8vh;
  display: flex;
  position: sticky;
  padding: .7vh .7vw;
  align-items: center;
  background-color: #280839;
  justify-content: space-between;
}

.logo {
  font-size: 4vh;
  color: White;
  margin: auto 2vw;
  font-variant: small-caps;
  font-family: 'Josefin Sans', sans-serif;
}

.search-bar {
  width: 40%;
  display: flex;
  margin: auto 2vw;
}

.search-input {
  width: 100%;
  border: none;
  outline: none;
  color: #280839;
  text-align: left;
  padding: .5vh 1vh;
  border-radius: .5vh 0 0 .5vh;
}

.search-input:focus{
  color: #280839;
}

.search-button {
  width: 4vh;
  height: 4vh;
  outline: none;
  padding: .5vh;
  font-size: 2vh;
  cursor: pointer;
  text-align: center;
  background: #49404c;
  border-radius: 0 .5vh .5vh 0;
  border: .2vh solid #49404c;
}

.nav {
  display: flex;
  font-size: 2vh;
  align-items: center;
}

.nav > a {
  color: white;
  margin: auto 1vw;
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
}



.homepage {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.featured-section {
  width: 90%;
  margin: 2vh auto;
}

.left-h1 {
  color: white;
  text-align: left;
  font-size: 2.5vh;
  margin-left: 2vw;
  margin-bottom: 2vh;
}


.featured {
  width: 100%;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit,  20vw);
  margin: 1em auto;
  border: 1px solid red;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .featured {
    gap: 1em;
    grid-template-columns: repeat(auto, 40vw);
    grid-template-rows: repeat(auto, 32vw)
  }
}

@media screen and (max-width: 480px) {
  .featured {
    gap: .8em;
    grid-template-columns: repeat(2, 40vw);
    grid-template-rows: repeat(2, 32vw)
  }
}

.card-wrapper {
  height: 100%;
  width: auto;
  border-radius: .5em;
}

.featured-card {
  height: 10em;
  width: 100%;
  border-radius: .5em;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;

  display: inline-block;
  vertical-align: middle;
  /* transform: translateZ(0);
  transition-duration: 0.3s;
  backface-visibility: hidden;
  transition-property: transform; */
  transition: background-size 0.25s ease-in-out 0s, filter 80ms linear 0s;
  -moz-osx-font-smoothing: grayscale;
}

.featured-card:hover {
  /* transform: scale(0.95) */
  background-size: 110%;
}

.featured-cont {
  height: 100%;
  width: 100%;
}

.featured-h1 {
  margin-top: 3px;
  color: white;
  font-size: x-large;
}

img {
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #420066;
}


#projects > div {
  margin: 4vh auto 15vh auto;
  display: grid;  
  grid-gap: 8vh;  
  grid-template-columns: repeat(2, 32vh);
  grid-template-rows: repeat(2, 22vh);
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 800px) {
  #projects > div {
    grid-gap: 5vh;  
    grid-template-columns: repeat(2, 24vh);
    grid-template-rows: repeat(2, 17vh);
  }
}
@media screen and (max-width: 600px) {
  #projects > div {
    margin: 4vh auto 10vh auto;
    grid-gap: 4vh;  
    grid-template-columns: repeat(1, 28vh);
    grid-template-rows: repeat(4, 20vh);
  }
}

.project-card {
  background-color: rgb(207, 196, 130, 0.3);
  border-radius: .7vh;
  width: 100%;
  height: 100%;
  margin: 2vh auto;
  padding: .5vh;
}




.artist-container {
  margin-top: 50px;
}

.events-cont {
  display: grid;
  margin-top: 50px;
  grid-template: auto / repeat(4, 1fr);
}

.listing {
  display: flex;
  width: 90%;
  height: 90%;
  border-radius: 7px;
  margin: 10px auto;
  padding: 2px;
  border: 4px solid 	#420066;
}

.listing-h2 {
  font-size: 25px;
  margin-top: 3px;
  color: #a600ff;
}

.listing-sec-2 {
  margin-top: -5px;
  margin-bottom: 5px;
}

section > p {
  margin: 3px auto;
}

.add-button {
  width: 50%;
  margin-top: 4px;
  margin-bottom: 2px;
}

.cart-cont {
  width: 50%;
  margin: 40px auto;
}

.delete-button {
  width: 20%;
  margin-top: -5px;
}

p {
  font-weight: bold;
}

.artist-form {
  width: 60%;
  margin: 50px auto;
  border: 3px solid #420066;
  border-radius: 7px;
  padding-bottom: 20px;
}

.artist-form > div {
  margin:  20px auto;
  width: 85%;
}

.create-button {
  width: 30%;
}


.artist-section {
  display: flex;
  width: 60%;
  height: 500px;
  border: 4px solid	#420066;
  border-radius: 7px;
  margin: 30px auto;
  padding: 2px;
}

.artist-section  p {
  padding: 0 40px;
}

.artist-page {
  padding: auto;
  margin-top: 40px
}

.artist-events {
  width: 40%;
  height: 50%;
  margin: 20px auto;
}


