
.menu {
  top: 0;
  left: 0;
  padding: 0;
  width: 100%;
  display: flex;
  margin-top: 8vh;
  position: absolute;
  align-items: center;
  list-style-type: none;
  flex-direction: column;
  justify-content: center;
}

.menu > li {
  margin: 0;
  width: 100%;
  display: flex;
  margin: 0 1rem;
  padding: 0.5em 0;
  justify-content: center;
  background-color: #280839;
}

.menu-button-container {
  width: 12vw;
  height: 7vh;
  display: flex;
  cursor: pointer;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  height: 4px;
  width: 30px;
  display: block;
  border-radius: 2px;
  position: absolute;
  background-color: white;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

#menu-toggle ~ .menu li {
  height: 0;
  margin: 0;
  border: 0;
  padding: 0;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

#menu-toggle ~ .menu li * {
  display: none;
  color: transparent;
}

#menu-toggle:checked ~ .menu li {
  height: 2.5em;
  padding: 0.5em;
  border: 1px solid #49404c;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

#menu-toggle:checked ~ .menu li * {
  color: white;
  display: initial;
}
